diffusers[torch]
transformers>=4.41.2,<5
bitsandbytes
pyhocon
typer
opencv-python-headless
imageio
imageio-ffmpeg
peft
sentencepiece
mediapipe
matplotlib
einops
scikit-image
timm
insightface
onnxruntime
ultralytics
segment-anything-py
pytest
nvidia-ml-py
